body {
  background: url('/images/wood_pattern.png') repeat;
  color:white;
}

header {
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: center;

  h1 {
    // @include text-shadow(0px 1px 1px white);
  }
}

.why {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 20px;
}

.the_button_area {
  margin-top: 20px;
}

.the_button {
  background: #A000A0;
  padding: 5px;
  height: 30px;
  width: 100px;
  font-size: 12px;
  font-weight: 700;
  text-shadow: 0px -1px 0px black;
  line-height: 20px;
  text-align: center;
  border-radius: 14px;
  cursor: pointer;
  display: block;
  position: relative;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    top: 1px;
  }
}
