!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Myapp
    %link(rel="stylesheet" href="/stylesheets/screen.css")
    %link(rel="stylesheet" href="/stylesheets/screen.css")
    %link{href: "/stylesheets/screen.css", type:'text/css', media:'screen', rel:'stylesheet'}
    /[if lte IE 8]
      %link{href: "/stylesheets/ie.css", type:'text/css', media:'screen', rel:'stylesheet'}
  %body.bp
    #container.showgrid
      %p Hello
