!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Myapp
    %link(rel="stylesheet" href="/stylesheets/screen.css")
    %link{href: "/stylesheets/screen.css", type:'text/css', media:'screen', rel:'stylesheet'}
    %link{href: "/stylesheets/foundation.css", type:'text/css', media:'screen', rel:'stylesheet'}
    %link{href: "/stylesheets/celly.css", type:'text/css', media:'screen', rel:'stylesheet'}
    %script{href: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    /[if lte IE 8]
      %link{href: "/stylesheets/ie.css", type:'text/css', media:'screen', rel:'stylesheet'}
  %body
    %header.row
      %h1
        Celly.io
    .why.row
      .eight.columns.centered
        %h3 Simply allow your application or website to be send as a text message.
      -# .four.columns
      -#   %h3 Try it out
    .the_button_area.row


      -# the sms pusher
      %form.twelve.columns.offset-by-one{action: '/sendSms', name:'sendSms', method:'post'}
        %input.numbers{value:'3109852847', name:'address', size:'12', maxlength:'16'}
        %button.the_button{name:'sendSms', type:'submit'}
          Send SMS Message


    .purpleswag.row
      .centered.columns
        <iframe width="853" height="480" src="http://www.youtube.com/embed/KuZ2QZKYj7c" frameborder="0" allowfullscreen></iframe>
:javascript
  $(function(){
    $('.the_button').on('click', function(e){
      $('.purpleswag').fadeIn();
      e.preventDefault();
      $('iframe').attr('src',$(this).attr('href'));
    });
  });
